TALLER_EUREKABANK/T2.1 EUREKABANK_SOAP_JAVA_GR10/02. CLICON/CLICON_JAVA_SOAP/src/META-INF/wsdl/localhost_8080/SOAP_Eurekabank/WSEurekabank.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.monster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.monster.edu.ec/" name="WSEurekabank">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.monster.edu.ec/" schemaLocation="http://localhost:8080/SOAP_Eurekabank/WSEurekabank?xsd=1"/>
</xsd:schema>
</types>
<message name="listarCuentas">
<part name="parameters" element="tns:listarCuentas"/>
</message>
<message name="listarCuentasResponse">
<part name="parameters" element="tns:listarCuentasResponse"/>
</message>
<message name="hacerDeposito">
<part name="parameters" element="tns:hacerDeposito"/>
</message>
<message name="hacerDepositoResponse">
<part name="parameters" element="tns:hacerDepositoResponse"/>
</message>
<message name="hacerRetiro">
<part name="parameters" element="tns:hacerRetiro"/>
</message>
<message name="hacerRetiroResponse">
<part name="parameters" element="tns:hacerRetiroResponse"/>
</message>
<message name="hacerTransferencia">
<part name="parameters" element="tns:hacerTransferencia"/>
</message>
<message name="hacerTransferenciaResponse">
<part name="parameters" element="tns:hacerTransferenciaResponse"/>
</message>
<message name="obtenerMovimientos">
<part name="parameters" element="tns:obtenerMovimientos"/>
</message>
<message name="obtenerMovimientosResponse">
<part name="parameters" element="tns:obtenerMovimientosResponse"/>
</message>
<message name="tipoMoviento">
<part name="parameters" element="tns:tipoMoviento"/>
</message>
<message name="tipoMovientoResponse">
<part name="parameters" element="tns:tipoMovientoResponse"/>
</message>
<message name="buscarPorIdEmpleado">
<part name="parameters" element="tns:buscarPorIdEmpleado"/>
</message>
<message name="buscarPorIdEmpleadoResponse">
<part name="parameters" element="tns:buscarPorIdEmpleadoResponse"/>
</message>
<message name="buscarPorId">
<part name="parameters" element="tns:buscarPorId"/>
</message>
<message name="buscarPorIdResponse">
<part name="parameters" element="tns:buscarPorIdResponse"/>
</message>
<portType name="WSEurekabank">
<operation name="listarCuentas">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/listarCuentasRequest" message="tns:listarCuentas"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/listarCuentasResponse" message="tns:listarCuentasResponse"/>
</operation>
<operation name="hacerDeposito">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/hacerDepositoRequest" message="tns:hacerDeposito"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/hacerDepositoResponse" message="tns:hacerDepositoResponse"/>
</operation>
<operation name="hacerRetiro">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/hacerRetiroRequest" message="tns:hacerRetiro"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/hacerRetiroResponse" message="tns:hacerRetiroResponse"/>
</operation>
<operation name="hacerTransferencia">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/hacerTransferenciaRequest" message="tns:hacerTransferencia"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/hacerTransferenciaResponse" message="tns:hacerTransferenciaResponse"/>
</operation>
<operation name="obtenerMovimientos">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/obtenerMovimientosRequest" message="tns:obtenerMovimientos"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/obtenerMovimientosResponse" message="tns:obtenerMovimientosResponse"/>
</operation>
<operation name="tipoMoviento">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/tipoMovientoRequest" message="tns:tipoMoviento"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/tipoMovientoResponse" message="tns:tipoMovientoResponse"/>
</operation>
<operation name="buscarPorIdEmpleado">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/buscarPorIdEmpleadoRequest" message="tns:buscarPorIdEmpleado"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/buscarPorIdEmpleadoResponse" message="tns:buscarPorIdEmpleadoResponse"/>
</operation>
<operation name="buscarPorId">
<input wsam:Action="http://ws.monster.edu.ec/WSEurekabank/buscarPorIdRequest" message="tns:buscarPorId"/>
<output wsam:Action="http://ws.monster.edu.ec/WSEurekabank/buscarPorIdResponse" message="tns:buscarPorIdResponse"/>
</operation>
</portType>
<binding name="WSEurekabankPortBinding" type="tns:WSEurekabank">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hacerDeposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hacerRetiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hacerTransferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMovimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tipoMoviento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPorIdEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSEurekabank">
<port name="WSEurekabankPort" binding="tns:WSEurekabankPortBinding">
<soap:address location="http://localhost:8080/SOAP_Eurekabank/WSEurekabank"/>
</port>
</service>
</definitions>