TI1.2 SOAP_DOTNET_SIN_BD_GR10/ConversionUnidades/Connected Services/ConversionServiceReference/ConversionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentimetrosAMetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centimetros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetrosAMetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetrosAMetrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosACentimetros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosACentimetrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetrosACentimetrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosAKilometros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metros" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetrosAKilometrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetrosAKilometrosResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToneladaALibra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tonelada" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToneladaALibraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToneladaALibraResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoALibra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kilogramo" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoALibraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramoALibraResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoAKilogramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gramos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoAKilogramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramoAKilogramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsius" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>