PROYECTOS_SIN_BDD/TI1.1 SOAP-JAVA-SIN_BD_GR10/02. CLIESC/CLIESC_JAVA_SOAP/src/META-INF/wsdl/10.33.174.36_8080/ConUni_Soap_Java_G10/WSConversionUnidades.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.moster.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.moster.edu.ec/" name="WSConversionUnidades">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.moster.edu.ec/" schemaLocation="http://10.33.174.36:8080/ConUni_Soap_Java_G10/WSConversionUnidades?xsd=1"/>
</xsd:schema>
</types>
<message name="metrosACentimetros">
<part name="parameters" element="tns:metrosACentimetros"/>
</message>
<message name="metrosACentimetrosResponse">
<part name="parameters" element="tns:metrosACentimetrosResponse"/>
</message>
<message name="metrosAKilometros">
<part name="parameters" element="tns:metrosAKilometros"/>
</message>
<message name="metrosAKilometrosResponse">
<part name="parameters" element="tns:metrosAKilometrosResponse"/>
</message>
<message name="fahrenheitACelsius">
<part name="parameters" element="tns:fahrenheitACelsius"/>
</message>
<message name="fahrenheitACelsiusResponse">
<part name="parameters" element="tns:fahrenheitACelsiusResponse"/>
</message>
<message name="celsiusAFahrenheit">
<part name="parameters" element="tns:celsiusAFahrenheit"/>
</message>
<message name="celsiusAFahrenheitResponse">
<part name="parameters" element="tns:celsiusAFahrenheitResponse"/>
</message>
<message name="centimetrosAMetros">
<part name="parameters" element="tns:centimetrosAMetros"/>
</message>
<message name="centimetrosAMetrosResponse">
<part name="parameters" element="tns:centimetrosAMetrosResponse"/>
</message>
<message name="kilogramoALibra">
<part name="parameters" element="tns:kilogramoALibra"/>
</message>
<message name="kilogramoALibraResponse">
<part name="parameters" element="tns:kilogramoALibraResponse"/>
</message>
<message name="gramoAKilogramo">
<part name="parameters" element="tns:gramoAKilogramo"/>
</message>
<message name="gramoAKilogramoResponse">
<part name="parameters" element="tns:gramoAKilogramoResponse"/>
</message>
<message name="toneladaALibra">
<part name="parameters" element="tns:toneladaALibra"/>
</message>
<message name="toneladaALibraResponse">
<part name="parameters" element="tns:toneladaALibraResponse"/>
</message>
<message name="celsiusAKelvin">
<part name="parameters" element="tns:celsiusAKelvin"/>
</message>
<message name="celsiusAKelvinResponse">
<part name="parameters" element="tns:celsiusAKelvinResponse"/>
</message>
<portType name="WSConversionUnidades">
<operation name="metrosACentimetros">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/metrosACentimetrosRequest" message="tns:metrosACentimetros"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/metrosACentimetrosResponse" message="tns:metrosACentimetrosResponse"/>
</operation>
<operation name="metrosAKilometros">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/metrosAKilometrosRequest" message="tns:metrosAKilometros"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/metrosAKilometrosResponse" message="tns:metrosAKilometrosResponse"/>
</operation>
<operation name="fahrenheitACelsius">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/fahrenheitACelsiusRequest" message="tns:fahrenheitACelsius"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/fahrenheitACelsiusResponse" message="tns:fahrenheitACelsiusResponse"/>
</operation>
<operation name="celsiusAFahrenheit">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/celsiusAFahrenheitRequest" message="tns:celsiusAFahrenheit"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/celsiusAFahrenheitResponse" message="tns:celsiusAFahrenheitResponse"/>
</operation>
<operation name="centimetrosAMetros">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/centimetrosAMetrosRequest" message="tns:centimetrosAMetros"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/centimetrosAMetrosResponse" message="tns:centimetrosAMetrosResponse"/>
</operation>
<operation name="kilogramoALibra">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/kilogramoALibraRequest" message="tns:kilogramoALibra"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/kilogramoALibraResponse" message="tns:kilogramoALibraResponse"/>
</operation>
<operation name="gramoAKilogramo">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/gramoAKilogramoRequest" message="tns:gramoAKilogramo"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/gramoAKilogramoResponse" message="tns:gramoAKilogramoResponse"/>
</operation>
<operation name="toneladaALibra">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/toneladaALibraRequest" message="tns:toneladaALibra"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/toneladaALibraResponse" message="tns:toneladaALibraResponse"/>
</operation>
<operation name="celsiusAKelvin">
<input wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/celsiusAKelvinRequest" message="tns:celsiusAKelvin"/>
<output wsam:Action="http://ws.moster.edu.ec/WSConversionUnidades/celsiusAKelvinResponse" message="tns:celsiusAKelvinResponse"/>
</operation>
</portType>
<binding name="WSConversionUnidadesPortBinding" type="tns:WSConversionUnidades">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="metrosACentimetros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="metrosAKilometros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fahrenheitACelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="celsiusAFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="centimetrosAMetros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kilogramoALibra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gramoAKilogramo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toneladaALibra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="celsiusAKelvin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSConversionUnidades">
<port name="WSConversionUnidadesPort" binding="tns:WSConversionUnidadesPortBinding">
<soap:address location="http://10.33.174.36:8080/ConUni_Soap_Java_G10/WSConversionUnidades"/>
</port>
</service>
</definitions>